{% extends 'base.html.twig' %}
{% block title  %}Editer un bien {% endblock %}
{% block body  %}
    <div class="container mt-4">

        {{ include('admin/formProperty.html.twig', {action_btn: 'Créer'}) }}
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
{% block javascripts %}
{% endblock %}

