{% extends 'base.html.twig' %}

{% block title %}Option{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Création d'une nouvelle option</h1>

        {{ include('admin/option/_form.html.twig') }}

        <a href="{{ path('option_index') }}" class="btn btn-primary mt-3">Reviens a liste</a>
    </div>
{% endblock %}
